* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
main {
  margin: 2rem;
}

.hex,
.rgb,
.hsl {
  display: flex;
  padding: 5px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}
.color_box {
  height: 100px;
  aspect-ratio: 1;
  /* background-color: #e66465; */
  margin: 1rem 0;
}

#color_input {
  margin-bottom: 1rem;
}
